<!DOCTYPE html>
<html >
<head>
  <meta charset="utf-8" />
  <title>RNNVis</title>

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/index.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/html5reset.css')}}">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
  <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
  <script src="https://kit.fontawesome.com/85ffd7a6f1.js" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="{{url_for('static', filename = 'js/d3.layout.cloud.js')}}"></script>
  <style>
    body {
      font-family: "Lato", sans-serif;
    }
    
    .sidenav {
      height: 100%;
      width: 160px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #C4BDAC;
      overflow-x: hidden;
      padding-top: 20px;
    }
    
    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 25px;
      color: white;
      display: block;
    }

    .sidenav a:hover {
      color: #575454;
    }
    
    .main {
      margin-left: 160px; /* Same as the width of the sidenav */
      font-size: 18px; /* Increased text to enable scrolling */
      padding: 0px 0px;
      background-color: #f4eee1;
      color: #555454;
    }
    
    body{
      background-color: #f4eee1;
    }
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }

    .button{
      background-color: #8E9AAF;
      border: none;
      color: white;
      padding: 10px 25px;
      text-align: center;
      font-size: 18px;
      margin: 4px 2px;
      opacity: 0.6;
      transition: 0.3s;
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
    }
    .button:hover {opacity: 1}

    .user_table tr {background: #CBC0D3;}
    .user_table tr:nth-of-type(2) {background: #EFD3D7;}
    .model_table tr {
      background: white;
    }
    .user_table td {
      padding: 15px;
    }
    .model_table td {
      padding: 15px;
    }
    .user_choice tr{
      background: #dcc9f1;
    }
    .user_choice tr {
      padding: 15px;
    }
    .sentences {
      background: white;
    }
    table {opacity: 0.8}
  </style>
</head>

<body onload="javascript:hideTable()">

<div class="sidenav">
  <a href="#">Source of Happiness</a>
  <hr class="rounded">
  <a href="#">Sentiment Detection</a>
  <hr class="rounded">
</div>


<div id="main" class="main">

  <h2> Explaining Sentiment Analysis </h2>
  
  <table class="user_table">
    <tr>
      <td width="900px">
        <h3> User Input: </h3>
        <button class="button" onclick="next_sent()">switch </button>
        <!-- <a class="button" href="{{url_for('show_index')}}">switch</a> -->
        <p> {{sentence}} </p>
        <p> Your current selected words is: <span id="selected_word"></span></p>
      </td>
      <td width="350px">
        <p> <b>Which source of happiness?</b> </p>
        {% for i in range(0,7) %}
            <input type="radio" id = "{{i}}" value="{{label_intdic[i]}}" name="{{label_intdic[i]}}">
            <label for="i">{{label_intdic[i]}}</label><br>
        {% endfor %}
        
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <p><b> Are you satisfied with your choices? </b></p>
        
        <button class="button" onClick='send();' value="Yes" id="yes"/>Yes </button>
      
        <!-- <input type='button' onClick='hideTable();' value='hide'>  -->
      </td>
    </tr>
  </table>


  <table class="model_table" id="model_table">
    <tr>
      <td width = "600px;" style="vertical-align: top;" id="td1">
        <h3> Model Output: </h3>
        <div id = "test2"> </div>
        <p> Above is the visualization of the model's output. Based on the sentence, the model has categorized its happy source as <strong>{{explanation}}</strong>. </p>
        

      </td>
      <td width = "650px" id="td2">
        <div id = "lime_explanation"> </div>
        <div id = "lime_predict_prob"> </div>       
      </td>
    </tr>
  </table>

  
  <table class="user_choice" id="user_choice">
    <tr>
      <td width = 1310px>
        <h3> Conclusion: </h3>
        <p> Your selected words are <span id="result_words"></span>. </p>
        <p> You think the source of happiness for this sentence is: <span id="checked_label">. </span></p>
      </td>
      
    </tr>
    
  </table>


  <select id="wordcloud-dropdown" class="button" onchange="wordcloud();">
    <option selected="selected">Show word cloud</option>
    <option value= "{{url_for('static', filename = 'wordcloud/bonding.csv')}}">bonding</option>
    <option value="leisure.csv">Leisure</option>
    <option value="affection.csv">Affection</option>
  </select>
  <div id="wordcloud">
    <!-- add hover effect-->
    <style>
      text:hover {
        opacity: .7 !important;
      }
    </style>
    <script>
      var width = 700,
        height = 500;

      function wordcloud(file) {
        var file_select = document.getElementById("wordcloud-dropdown");
        var file = file_select[file_select.selectedIndex].value

        d3.csv(file, function (data) {
          // document.write(data[0]);

          var words = data
            .map(function (d) { return { text: d.word, size: +d.size }; })
            .slice(0, 100);

          d4.layout.cloud()
            .size([width, height])
            .words(words)
            .padding(0)        //space between words
            // .rotate(function() { return ~~(Math.random() * 2) * 90; })
            .fontSize(function (d) { return d.size; })      // font size of words
            .font('Impact')
            .on("end", draw)
            .start();
        });

        function draw(words) {
          var box = d3.select('#sentences').append("g").attr("transform", "translate(300,50)");
          box.append("rect")
          .attr("height", 50)
          .attr("width", 100)
          .style("stroke","black")
          .style("fill", "#80d6c7")
          .style("stroke-width", "2px");

          var svg = d3.select("#wordcloud").append("svg")
            .attr("width", width)
            .attr("height", height);
          
            svg.append("g")
            .attr("transform", "translate(" + (width / 2) + "," + (height / 2) + ")")
            .selectAll("text")
            .data(words)
            .enter().append("text")
            .style("font-size", function (d) { return d.size; })
            .style("fill", "#69b3a2")
            .attr("text-anchor", "middle")
            .style("font-family", "Impact")
            .attr("transform", function (d) {
              return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function (d) { return d.text; })
            .on("click", function (d) {
              box.selectAll("text").remove();
              box.append("text")
              .text("10 sentences that contain \"" + d.text + "\" will be shown here...")
            });
        }
      }
    </script>
  </div>
  <div id="sentences" class="sentences">
  </div>
</div>

</body>





<script>

  function next_sent() {
    // window.location = self.location;
    location.reload(true);
    // history.go(0);
  }

  $.ajax({
    url: "static/model/lime.html",
    cache: false,
    dataType: "html",
    success: function(data) {
      $("#lime_predict_prob").html(data);
      $('.text_div').detach().prependTo('#test2');
            $('.text_div h3').html("");      
            $(".predict_proba").before($(".explanation"));
    }
  });

  var result_words = [];
  var words = $( "p" ).first().text().split( /\s+/ );
  var text = words.join( "</span> <span>" );
  $( "p" ).first().html( "<span>" + text + "</span>" );
  $( "span" ).on( "click", function() {
    if (this.style.backgroundColor == "yellow"){
      $( this ).css( "background-color", "" );
      var word = result_words.indexOf(this.innerText);
      result_words.splice(word,1);
    }
    else{
      $( this ).css( "background-color", "yellow" );
      result_words.push(this.innerText);
    }

    var selection = window.getSelection();
    if (!selection || selection.rangeCount < 1) return true;
    var range = selection.getRangeAt(0);
    var node = selection.anchorNode;
    var word_regexp = /^\w*$/;

    // Extend the range backward until it matches word beginning
    while ((range.startOffset > 0) && range.toString().match(word_regexp)) {
      range.setStart(node, (range.startOffset - 1));
    }
    // Restore the valid word match after overshooting
    if (!range.toString().match(word_regexp)) {
      range.setStart(node, range.startOffset + 1);
    }

    // Extend the range forward until it matches word ending
    while ((range.endOffset < node.length) && range.toString().match(word_regexp)) {
      range.setEnd(node, range.endOffset + 1);
    }
    // Restore the valid word match after overshooting
    if (!range.toString().match(word_regexp)) {
      range.setEnd(node, range.endOffset - 1);
    }

    var word = range.toString();
    // alert(word);
    document.getElementById("selected_word").innerHTML = word;
    
  });

  // hide table
  function hideTable(){
    document.getElementById('model_table').style.visibility = "hidden";
    document.getElementById('test2').style.display = 'none';
    document.getElementById('user_choice').style.visibility = "hidden";
  }

  function send(){
    // show table
    document.getElementById('model_table').style.visibility = "visible";
    document.getElementById('test2').style.display = 'block';
    document.getElementById('user_choice').style.visibility = "visible";

    var checked_label;
    var label_intdic = {0: 'achievement', 1:'affection',2:'bonding',3:'enjoy the moment',4:'exercise',5:'leisure',6:'nature'};
    for(i=0; i<7; i++){
      if (document.getElementById(i).checked == true){
        checked_label = i;
      }
    }
    
    
    document.getElementById("result_words").innerHTML = result_words;
    document.getElementById("checked_label").innerHTML = label_intdic[checked_label];

    var send_back = {
      'word_list': result_words,
      'checked_source': checked_label
    }
    // alert(send_back);
    $.ajax({
      url: '/',
      type: 'POST',
      contentType: 'application/json;charset=UTF-8',
      data: JSON.stringify(send_back),   // converts js value to JSON string
      })
      .done(function(result){     // on success get the return object from server
          console.log(result);     // do whatever with it. In this case see it in console
      });
  }
</script>


</html>